* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #3b3a3a;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  display: flex;
  gap: 2px;
}

.box {
  display: flex;
  flex-grow: 1;
  padding: 15px;
  background-color: aquamarine;
}

.container {
  padding: 30px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hovered {
  background-color: black;
}
